:root {
    --typography--header: 'Soyuz Grotesk', sans-serif;
    --font--display: 'Familjen Grotesk', sans-serif;
    --font--text: 'Sometimes Times', serif;

    --font--size: 20px;
    --scale: 2;
    --spacing: 10px;
    --baseline: 30px;
}

html{
    height: 100%;
}

body{
    background-color: black;
    margin: var(--spacing);
}


/* NAVIGATION BAR */
/* NAVIGATION BAR */
/* NAVIGATION BAR */
.navigation{
    display:inline-flex;
    position: fixed;
    margin: var(--spacing);
    width: 100%;
    height: 40px;
    left: 0;
    right: 0;  
    
}

.one{   
    background: black;  
    box-shadow: 0 0 10px rgb(83, 83, 83);
    cursor: pointer;
    width: 100%;     
    padding-top: var(--spacing);      
    padding-left: var(--spacing);   
    margin-right: var(--spacing); 
}

.goal-dropdown{
    background: black;  
    box-shadow: 0 0 10px rgb(83, 83, 83);
    cursor: pointer;
    width: 100%;    
    padding-top: 10px;   
    padding-left: var(--spacing); 
    padding-right: var(--spacing); 
    margin-right: var(--spacing);  
}

.email-dropdown{  
    background: black;  
    box-shadow: 0 0 10px rgb(83, 83, 83);
    cursor: pointer;
    width: 100%;   
    padding-top: 10px;
    padding-left: var(--spacing); 
    padding-right: var(--spacing); 
    margin-right: var(--spacing);  
}

.quote{
    background: black;  
    box-shadow: 0 0 10px rgb(83, 83, 83); 
    cursor: pointer; 
    width: 100%;
    padding-top: 10px;  
    padding-left: var(--spacing); 
    margin-right: calc(2*var(--spacing));  
}

h1{
    font-family: var(--typography--header);
    color: white;
    font-size: var(--font--size);
}

h2{
    font-family: var(--font--display);
    color: white;
    font-size: var(--font--size);
}

/* NAVIGATION BAR DROPDOWN GOAL*/
/* NAVIGATION BAR DROPDOWN GOAL*/
/* NAVIGATION BAR DROPDOWN GOAL*/ 
.goal { 
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
  
.arrow-1 {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
}
  
.dropdown-content-1 {
    list-style: none;
    position: relative;
    top: 20px;
    width: 100%;
    padding: var(--spacing);
    padding-left: calc(2*var(--spacing));
    padding-right: calc(2*var(--spacing));

    visibility: hidden;
    transform: translateY(-1em);
    transition: transform ease 0.3s;

    background: black;
    box-shadow: 0 0 10px rgb(83, 83, 83);
}

input[type="checkbox"]:checked ~ .dropdown-content-1 {
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content-1 li {
    color: white;
    font-size: 20px;
    font-family: var(--font--text);
    margin-top: var(--spacing);
    margin-bottom: calc(2*var(--spacing));
}
  
input[type="checkbox"]:checked + label > .arrow-1 {
    transform: rotate(180deg);
}
  
input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

/* NAVIGATION BAR DROPDOWN GOAL Input Display*/
/* NAVIGATION BAR DROPDOWN GOAL Input Display*/
/* NAVIGATION BAR DROPDOWN GOAL Input Display*/ 
#inputBox{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    width: 100%;
}

#inputBox:focus{
    border-color: pink;  
}

/* NAVIGATION BAR DROPDOWN GOAL OUTPUT Display*/
/* NAVIGATION BAR DROPDOWN GOAL OUTPUT Display*/
/* NAVIGATION BAR DROPDOWN GOAL OUTPUT Display*/ 
.outputBox{
    position: fixed;
    bottom:var(--spacing);
    left: 50%;
    transform: translateX( -50% );
    
    background-color: rgb(227, 172, 255);
    border-radius: 2px;
    width: 80%;
    height: 100px;
    padding: calc(3*var(--spacing));

    font-size: 40px;
}

.outputBox-1 {
    background-color: #840A0A;
    position: fixed;
    bottom:calc(11*var(--spacing));
    left: 50%;
    transform: translateX( -50% );

    width: 60%;
}

.outputBox-2 {
    background-color: #253C77;

    position: fixed;
    bottom:calc(21*var(--spacing));
    left: 50%;
    transform: translateX( -50% );

    width: 40%;
}

.outputBox-3{
    background-color: #8FFDDC;

    position: fixed;
    bottom:calc(31*var(--spacing));
    left: 50%;
    transform: translateX( -50% );

    width: 20%;
}

.outputBox-4{
    background-color: #FFF73A;

    position: fixed;
    bottom:calc(41*var(--spacing));
    left: 50%;
    transform: translateX( -50% );

    width: 10%;
}

  
/* NAVIGATION BAR DROPDOWN EMAIL*/
/* NAVIGATION BAR DROPDOWN EMAIL*/
/* NAVIGATION BAR DROPDOWN EMAIL*/ 
.email { 
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
  
.arrow-2 {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
}
  
.dropdown-content-2 {
    list-style: none;
    position: absolute;
    top: 50px;
    width: 100%;
    visibility: hidden;
    transform: translateY(-1em);
    transition: transform ease 0.3s;
      background: black;
    border-radius: 18px;
    padding-left: 20px;
    padding: var(--spacing);
  }
  
input[type="checkbox"]:checked ~ .dropdown-content-2 {
    visibility: visible;
    transform: translateY(0);
}
  
.dropdown-content-2 li {
    color: white;
    font-size: 20px;
    font-family: var(--font--text);
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
}
  
input[type="checkbox"]:checked + label > .arrow-2{
    transform: rotate(180deg);
}
  
input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}


/* NAVIGATION BAR ANIMATION*/
/* NAVIGATION BAR ANIMATION*/
/* NAVIGATION BAR ANIMATION*/ 
.quote{
    overflow: hidden;
}

.inner{
    white-space: nowrap;
    animation: move-left-to-right linear 5s infinite;
}

.scrolling-text {
    display: inline-block; /* Make text scrollable */
}

@keyframes move-left-to-right {
    from {
        transform: translateX(-50%); /* Start position: move off-screen to the right */
    }
    to {
        transform: translateX(0%); /* End position: move off-screen to the left */
    }
}

@keyframes move-right-to-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}