@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --typography--header: 'Soyuz Grotesk', sans-serif;
    --font--display: 'Inter', sans-serif;
    --font--text: 'Sometimes Times', serif;

    --font--size: 20px;
    --scale: 2;
    --spacing: 10px;
    --baseline: 30px;
}

html{
    height: 100%;
}

body{
    background-color: #E8E3D5;
    margin: var(--spacing);
}


/* NAVIGATION BAR */
/* NAVIGATION BAR */
/* NAVIGATION BAR */
.navigation{
    display:inline-flex;
    position: fixed;
    margin: var(--spacing);
    width: 100%;
    height: 40px;
    left: 0;
    right: 0;     
}

.one{   
    background: #E8E3D5;  
    border-radius: 30px;
    box-shadow: 0 0 5px rgb(83, 83, 83);
    cursor: pointer;
    width: 100%;     
    padding-top: var(--spacing);      
    padding-left: var(--spacing);   
    padding-right: var(--spacing); 
    margin-right: var(--spacing); 
    display: flex;
    justify-content: space-between;
}

.goal-dropdown{
    background: #E8E3D5;  
    border-radius: 30px;
    box-shadow: 0 0 5px rgb(83, 83, 83);
    cursor: pointer;
    width: 100%;    
    padding-top: 10px;   
    padding-left: var(--spacing); 
    padding-right: var(--spacing); 
    margin-right: var(--spacing);  
    z-index: 1;
}

.email-dropdown{  
    background: #E8E3D5;  
    border-radius: 30px;
    box-shadow: 0 0 5px rgb(83, 83, 83);
    cursor: pointer;
    width: 100%;   
    padding-top: 10px;
    padding-left: var(--spacing); 
    padding-right: var(--spacing); 
    margin-right: var(--spacing);  
    z-index: 1;
}

.quote{
    background: #E8E3D5;  
    border-radius: 30px;
    box-shadow: 0 0 5px rgb(83, 83, 83); 
    width: 100%;
    padding-top: 10px;  
    padding-left: var(--spacing); 
    margin-right: calc(2*var(--spacing));  
}

h1{
    font-family: var(--typography--header); 
    font-size: var(--font--size);
    color: black;
}

h2{
    font-family: var(--font--display);
    font-size: 18px;
    font-weight: 600;
    color: black;
}

/* NAVIGATION BAR DROPDOWN GOAL*/
/* NAVIGATION BAR DROPDOWN GOAL*/
/* NAVIGATION BAR DROPDOWN GOAL*/ 
.goal { 
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
  
.arrow-1 {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: transform ease-in-out 0.3s;
}
  
.dropdown-content-1 {
    list-style: none;
    position: relative;
    top: 20px;
    width: 100%;
    padding: var(--spacing);
    padding-left: calc(2*var(--spacing));
    padding-right: calc(2*var(--spacing));

    visibility: hidden;
    transform: translateY(-1em);
    transition: transform ease 0.3s;

    background: #E8E3D5;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(83, 83, 83); 
}

input[type="checkbox"]:checked ~ .dropdown-content-1 {
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content-1 li {
    color: black;
    font-size: 20px;
    font-family: var(--font--text);
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
}
  
input[type="checkbox"]:checked + label > .arrow-1 {
    transform: rotate(180deg);
}
  
input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

/* NAVIGATION BAR DROPDOWN GOAL Input Display*/
/* NAVIGATION BAR DROPDOWN GOAL Input Display*/
/* NAVIGATION BAR DROPDOWN GOAL Input Display*/ 
.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

#inputBox{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 0.5rem;
}

#inputBox:focus{
    box-shadow: 0 0 3px rgb(83, 83, 83); 
}

#enter {
    position: absolute;
    top: 50%; /* Adjust the button position vertically */
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;

    font-family: var(--font--display);
    font-size: 12px;

    border: 0.5px solid rgb(83, 83, 83);
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}

#inputBox2{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    padding: 0.5rem;
}

#inputBox2:focus{
    box-shadow: 0 0 3px rgb(83, 83, 83); 
}

#inputBox3{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    padding: 0.5rem;
}

#inputBox3:focus{
    box-shadow: 0 0 3px rgb(83, 83, 83); 
}

#inputBox4{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    padding: 0.5rem;
}

#inputBox4:focus{
    box-shadow: 0 0 3px rgb(83, 83, 83); 
}

#inputBox5{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    padding: 0.5rem;
}

#inputBox5:focus{
    box-shadow: 0 0 3px rgb(83, 83, 83); 
}

/* BODY NAVIGATION BAR DROPDOWN GOAL OUTPUT Display*/
/* BODY NAVIGATION BAR DROPDOWN GOAL OUTPUT Display*/
/* BODY NAVIGATION BAR DROPDOWN GOAL OUTPUT Display*/ 
.outputBox{
    position: fixed;
    bottom:var(--spacing);
    left: 50%;
    transform: translateX( -50% );
    
    background-color: rgb(227, 172, 255);
    border-radius: 2px;
    width: calc(100% - 2 * var(--spacing));
    height: 100px;
    padding: calc(3*var(--spacing));

    font-size: 40px;
}

.outputBox-2 {
    background-color: #840A0A;
    position: fixed;
    bottom:calc(11*var(--spacing));
    left: 50%;
    transform: translateX( -50% );

    width: 80%;
}

.outputBox-3 {
    background-color: #253C77;

    position: fixed;
    bottom:calc(21*var(--spacing));
    left: 50%;
    transform: translateX( -50% );

    width: 60%;
}

.outputBox-4{
    background-color: #8FFDDC;

    position: fixed;
    bottom:calc(31*var(--spacing));
    left: 50%;
    transform: translateX( -50% );

    width: 40%;
}

.outputBox-5{
    background-color: #FFF73A;

    position: fixed;
    bottom:calc(41*var(--spacing));
    left: 50%;
    transform: translateX( -50% );

    width: 20%;
}


/* NAVIGATION BAR DROPDOWN CALENDAR*/
/* NAVIGATION BAR DROPDOWN CALENDAR*/
/* NAVIGATION BAR DROPDOWN CALENDAR*/
#calendar{
    display: block;
    width: 100%; /* Set width to fill its container */
    padding: 0.5rem; /* Add some padding for better appearance */
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 4px; /* Add rounded corners for better aesthetics */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}
  
/* NAVIGATION BAR DROPDOWN EMAIL*/
/* NAVIGATION BAR DROPDOWN EMAIL*/
/* NAVIGATION BAR DROPDOWN EMAIL*/ 
.email-input-container{
    position: relative;
    display: inline-block;
    width: 100%;
}

#emailInput{
    display: block;
    width: 100%; /* Set width to fill its container */
    padding: 0.5rem; /* Add some padding for better appearance */
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 4px; /* Add rounded corners for better aesthetics */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

#emailInput:focus{
    box-shadow: 0 0 3px rgb(83, 83, 83); 
}

#sendEmailButton{
    position: absolute;
    top: 50%; /* Adjust the button position vertically */
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;

    font-family: var(--font--display);
    font-size: 12px;

    border: 0.5px solid rgb(83, 83, 83);
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}

.email { 
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
  
.arrow-2 {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: transform ease-in-out 0.3s;
}
  
.dropdown-content-2 {
    list-style: none;
    position: relative;
    top: 20px;
    width: 100%;
    padding: var(--spacing);
    padding-left: calc(2*var(--spacing));
    padding-right: calc(2*var(--spacing));

    visibility: hidden;
    transform: translateY(-1em);
    transition: transform ease 0.3s;

    background: #E8E3D5;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(83, 83, 83); 
  }
  
input[type="checkbox"]:checked ~ .dropdown-content-2 {
    visibility: visible;
    transform: translateY(0);
}
  
.dropdown-content-2 li {
    color: black;
    font-size: 20px;
    font-family: var(--font--text);
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
}
  
input[type="checkbox"]:checked + label > .arrow-2{
    transform: rotate(180deg);
}
  
input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}
/* NAVIGATION BAR DROPDOWN SAVE AS PDF*/
/* NAVIGATION BAR DROPDOWN SAVE AS PDF*/
/* NAVIGATION BAR DROPDOWN SAVE AS PDF*/
.savepdf{
    position: relative;
    display: flex;
    align-items: center;
    padding-top: var(--spacing);
}

#saveAsPDFButton{
    position: absolute;  
    right: 10px;     
    cursor: pointer;

    font-family: var(--font--display);
    font-size: 12px;

    border: 0.5px solid rgb(83, 83, 83);
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}

#saveAsPDFButton:hover{
    border: 0.5px solid #FF7329;
}

/* NAVIGATION BAR ANIMATION*/
/* NAVIGATION BAR ANIMATION*/
/* NAVIGATION BAR ANIMATION*/ 
.quote {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    animation: scrollTextStart 20s linear infinite; /* Animation from left to right */
}

.scrolling-text {
    display: inline-block;
}

@keyframes scrollTextStart {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}


/* BODY DESCRIPTION */
/* BODY DESCRIPTION */
/* BODY DESCRIPTION */
.outputBoxshadow{
    position: fixed;
    bottom: var(--spacing); /* Spacing from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Move back half of its width */
    
    border: 1px solid rgb(131, 131, 131);
    box-shadow: inset 0 0 5px rgb(83, 83, 83);
    border-radius: 2px;
    width: calc(100% - 2 * var(--spacing)); /* Adjust width with spacing */
    height: 100px;
    
    text-align: center;
    font-family: var(--typography--header);
    font-size: 50px;
}